.post_view {
    text-align: center;
  }
  
  .post_view h3 {
    margin-bottom: 0.2em;
  }
  
  .post_view .tags {
    display: flex;
    justify-content: center;
  }
  
  .tags p {
    margin-right: 1em;
  }
  
  .tags span {
    font-weight: bold;
  }
